{% extends '::layout.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('/css/pygments.css') }}">
    <link rel="stylesheet" href="{{ asset('/css/documentation.css') }}">
{% endblock %}

{% block page %}
    <nav class="sidebar">
        <div class="meta">
            <h3>Meta</h3>
            <dl>
                <dt>Package name:</dt>
                <dd>{{ page.projectName }}</dd>
                <dt>Last edit:</dt>
                <dd>{{ page.documentedAt|date('d.m.Y, H:i', timezone="Zulu") }}</dd>
                <dt>Versions:</dt>
                <dd>
                    <ul class="alternative-versions">
                        {% for documentation in projectDocs %}
                            {% set version = documentation.documentationId.versionString %}
                            <li class="version {% if version == page.versionString %}current{% endif %}">
                                <a href="{{ path('documentation_index', {
                                    'project': page.projectName,
                                    'version': version
                                }) }}">
                                    {{ version }}
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                </dd>
            </dl>
        </div>

        <div class="toc">
            <h3>Chapters</h3>
            {% block toc %}{% endblock %}
        </div>
    </nav>

    <section class="text">
        {% block text %}{% endblock %}
    </section>
{% endblock page %}
