{% extends '::layout.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('/css/homepage.css') }}">
{% endblock %}

{% block title %}Behat{% endblock %}

{% block page %}
    <div class="big-logo clearfix">
        <img class="b" src="{{ asset('/images/b@2x.png') }}">
        <img class="behat" src="{{ asset('/images/behat@2x.png') }}">
    </div>

    <span class="slogan">
        A <strong>php</strong> framework for autotesting your <strong>business</strong> expectations.
    </span>

    <nav class="gates clearfix">
        <a class="introduction" href="{{ path('behat_documentation_page', {'version': 'v3.0', 'path': 'quick_intro_pt1.html'}) }}">
            Read quick introduction
        </a>
        <a class="documentation" href="{{ path('behat_documentation_page', {'version': 'v3.0', 'path': 'index.html'}) }}">
            Read the documentation
        </a>
        <a class="training" href="http://inviqa.com/services/get-trained/bdd-immersion-days/">
            Sign-up for behat training
        </a>
    </nav>

    <ul class="why clearfix">
        <li class="communication clearfix">
            <h4 class="why-header">Focused on communication</h4>

            <p class="why-text">Behat is like no other testing framework you have used. Instead of
                proving that your system was built right, it helps you to build the right system in
                the first place by facilitating and enriching requirements communication.</p>
        </li>
        <li class="extensions clearfix">
            <h4 class="why-header">Extensible to the core</h4>

            <p class="why-text">Behat is very extensible. Almost every bit of the framework
                functionality could be enhanced or even replaced through the powerful
                extension system. There are plenty extensions already available.
        </li>
        <li class="community clearfix">
            <h4 class="why-header">Has an amazing community</h4>

            <p class="why-text">Behat has an amazing community of users that are
                always ready to help or support you in your first BDD steps. You found a rare bug,
                have a feature request or just need help in setting up your first test suite - help
                is always a link away.</p>
        </li>
    </ul>
{% endblock page %}
